@arisale:registry=https://arisale-572930221945.d.codeartifact.us-east-1.amazonaws.com/npm/arisale-libraries/
//arisale-572930221945.d.codeartifact.us-east-1.amazonaws.com/npm/arisale-libraries/:always-auth=true
//arisale-572930221945.d.codeartifact.us-east-1.amazonaws.com/npm/arisale-libraries/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
